#visibility-filter {
    margin-top: 20px;
    margin-left: 100px;
}

.user-filter {
    display: flex;
    margin-top: 5px;
}

.user-dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-sizing: border-box;
}

.user-dot:first-child {
    margin-left: 15px;
}

.user-dot:hover {
    border: .5px solid black;
}