#todo-list {
    width: 350px;
    flex-shrink: 0;
    overflow: auto;
    margin: 15px;
    border-radius: 4px;
    padding: 10px;
    border: 2px solid lightblue;
}

#todo-list .title {
    text-align: center;
}